.parentDiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.chatsArea {
  height: 80vh;
  display: flex;
  justify-content: center;
}
