.mobileHidden {
  display: none;
}

.parentDiv {
  display: flex;
  flex-direction: column;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  border-bottom: 1px solid #ddd; /* change in light mode? */
}

/* Media query for tablet+ */
@media only screen and (min-width: 768px) {
  .mobileHidden {
    display: block;
  }
}
