.mobileHidden {
  display: none !important;
}

.parentDiv {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
}

.chatSelectionList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  flex-shrink: 0;
}

.middleBar {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.bottomBar {
  flex-shrink: 0;
}

.chatArea {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: light) {
  .topBar {
    border-bottom: 1px solid #000000;
  }
}

/* Media query for tablet+ */
@media only screen and (min-width: 1024px) {
  .mobileHidden {
    display: block;
  }

  .chatSelectionList {
    width: 30%;
    border-right: 1px solid #ddd;
  }

  .chatArea {
    width: 70%;
  }

  .parentDiv {
    flex-direction: row;
  }

  @media (prefers-color-scheme: light) {
    .chatSelectionList {
      border-right: 1px solid #000000;
    }
  }
}
