.mobileHidden {
  display: none !important;
}

.parentDiv {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
}

.chatSelectionList {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #1a1a1a;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  flex-shrink: 0;
}

.middleBar {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.bottomBar {
  flex-shrink: 0;
}

.chatArea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Media query for tablet */
@media only screen and (min-width: 768px) {
  .mobileHidden {
    display: block !important;
  }

  .chatSelectionList {
    width: 40%;
    border: 1px solid #3d3d3d;
  }

  .chatArea {
    width: 60%;
  }

  .parentDiv {
    flex-direction: row;
  }

  @media (prefers-color-scheme: light) {
    .chatSelectionList {
      background-color: #ffffff;
      border: 1px solid #c4c4c4;
    }
  }
}

/* Media query for laptop + */
@media only screen and (min-width: 1024px) {
  .chatSelectionList {
    width: 30%;
  }

  .chatArea {
    width: 70%;
  }
}
