.entryBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6%;
}

.entryArea {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.entryArea label {
  display: flex;
  flex-direction: column;
}

.checkboxLabel {
  flex-direction: row !important;
  gap: 10px;
}

button {
  font-size: 1.2rem;
}
