.entryArea {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.labelInputPair {
  display: flex;
  gap: 10px;
}

.chatNameLabel {
  min-width: min-content;
}

.inputBox {
  flex: 1;
}

.userListContainer {
  flex: 1;
  border: 1px solid rgb(143, 143, 157);
  overflow-y: scroll;
}

.userRectangle {
  border: 1px solid rgb(143, 143, 157);
  margin: 4px 0;
  padding: 10px;
}

.membersMap {
  min-height: 200px;
}

.addUserArea {
  padding: 10px;
  border-top: 1px solid rgb(143, 143, 157);
  display: flex;
}

.addMemberButton {
  padding: 0%;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.errorTooltip {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-3%);
  background-color: #333;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 9999;
  margin-bottom: 8px;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.2s,
    visibility 0.2s;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border: 6px solid transparent;
  border-top-color: #333;
}

.errorTooltip:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.createChatButton {
  margin-left: auto;
  font-size: small;
  margin-top: 10px;
}
