.layoutDiv {
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  min-width: 250px;
  padding: 1vh;
  border: 1px solid #3d3d3d;
  margin-bottom: 8px;
}

.leftCol {
  flex: 0 0 0;
  padding: 5px;
}

.rightCol {
  display: flex;
  flex-flow: column;
  flex: 1;
  overflow-x: hidden;
}

.nameAndDate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message {
  width: 90%;
  text-align: start;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

@media (prefers-color-scheme: light) {
  .layoutDiv {
    color: #000;
    border: 1px solid #c4c4c4;
    background-color: #ffffff;
  }
}
