.dropdownContainer {
  position: relative;
  display: inline-block;
}

.logoButton {
  background-color: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.lightModeIcon,
.darkModeIcon {
  display: none;
}

.dropdownMenu {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  top: 100%;
  background: #131313;
  z-index: 1000;
  border: 1px solid #000000;
  border-radius: 8px;
  overflow: hidden;
  animation: fadeIn 0.2s ease;
}

.menuLeft {
  left: 0;
  right: auto;
}

.menuRight {
  right: 0;
  left: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (prefers-color-scheme: dark) {
  .darkModeIcon {
    display: block;
  }
}

@media (prefers-color-scheme: light) {
  .lightModeIcon {
    display: block;
  }

  .dropdownMenu {
    background: #e9e9e9;
    border: 1px solid #e9e9e9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  .dropdownOption {
    border: 1px solid #000000;
  }

  .dropdownOption:hover {
    background-color: #bebebe;
  }
}

/* Tablet size +++ */
@media (min-width: 768px) {
  .dropdownMenu {
    min-width: 20vw;
  }

  .dropdownOption {
    font-size: 1.2rem;
  }
}
