.custom-button {
    display: inline-block;
    background-color: #131313;
    color: white;
    border-radius: 1px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    border: solid;
    border-color: white;
    border-radius: 10px;
}

.custom-button:hover {
  background-color: #d3d3d3;
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  .custom-button {
    background-color: #ffffff;
    border-color: #c9c6c6;
    color: #000;
  }

  .custom-button:hover {
    background-color: #a1a1a1;
  }
}
            