.styledButton {
  display: inline-block;
  background-color: #131313;
  color: white;
  border-radius: 1px;
  transition: background-color 0.2s ease-in-out;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.styledButton:hover {
  background-color: #555555;
  border: 1px solid #ffffff;
}

@media (prefers-color-scheme: light) {
  .styledButton {
    color: #000;
    background-color: #ffffff;
    border: 1px solid #000000;
  }

  .styledButton:hover {
    background-color: #a1a1a1;
    border: 1px solid #000000;
  }
}
