.parentDiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.chatsArea {
  height: 80vh;
  display: flex;
  justify-content: center;
}

.entryArea {
  display: flex;
  flex-direction: column;
}

.inputBox {
  width: 50%;
}

.createChatButton {
  margin-left: auto;
}

.lightModeIcon {
  /* This bit should probably be in dropdown */
  display: none;
}

.darkModeIcon {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .darkModeIcon {
    display: block;
  }
}

@media (prefers-color-scheme: light) {
  .lightModeIcon {
    display: block;
  }
}
