.parentDiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.chatsArea {
  height: 80vh;
  display: flex;
  justify-content: center;
}

.entryArea {
  display: flex;
  flex-direction: column;
}

.labelBoxPair {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.inputBox {
  width: 50%;
}

.addMemberBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addMemberLabel {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.addMemberLabel > div {
  display: inline-flex;
  align-items: center;
}

.addMemberButton {
  font-size: small;
  width: 50%;
  /* override space-between */
  margin-left: auto;
  margin-right: auto;
}

.createChatButton {
  margin-left: auto;
  font-size: small;
  margin-top: 10px;
}

.userListContainer {
  width: 50%;
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
  background: #2b2a33;
  border: 1px solid rgb(143, 143, 157);
  overflow-y: scroll;
}

.userRectangle {
  background-color: #17171b;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.3),
    0 1px 2px rgba(255, 255, 255, 0.1) inset;
  border: 1px solid rgb(143, 143, 157);
  margin: 4px 0;
}
