.parentDiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.chatsArea {
  height: 80vh;
  display: flex;
  justify-content: center;
}

.entryArea {
  display: flex;
  flex-direction: column;
}

.labelBoxPair {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.inputBox {
  width: 50%;
}

.addMemberBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addMemberLabel {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.addMemberLabel > div {
  display: inline-flex;
  align-items: center;
}

.addMemberButton {
  font-size: small;
  width: 50%;
  /* override space-between */
  margin-left: auto;
  margin-right: auto;
}

.createChatButton {
  margin-left: auto;
  font-size: small;
  margin-top: 10px;
}
