#parent-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#link-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
}

.link-button {
  font-size: clamp(0.875rem, 2vw, 1.25rem);
  width: clamp(6rem, 20vw, 12rem);
}
