#parent {
  display: flex;
  flex-direction: column;
  text-align: center;
}


#link-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding-bottom: 6%;
}

.link-button {
  border: solid;
  border-color: white;
  border-radius: 10px;
  background-color: white;
  width: 5%;
  padding-left: 3%;
  padding-right: 3%;
}
