.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6%;
}

.entry-area {
    display: flex;
    flex-direction: column;
}

.entry-area label {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 1rem;
    font-size: 1.2rem
}
