:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Marks root div on each page */
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: clamp(3rem, 5vw + 1rem, 4rem);
  line-height: 1.1;
}

h2 {
  font-size: clamp(2rem, 3vw + 0.5rem, 3rem);
  line-height: 1.1;
}

h3 {
  font-size: clamp(1.25rem, 2vw + 0.25rem, 2.25rem);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 3vw;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #555555;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.error-box {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background: #f8d7da;
  color: red;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-size: 0.875rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 90%; /* Prevent it from touching screen edges */
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.darkIcon {
  display: block;
}

.lightIcon {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 3vw;
    font-weight: 500;
    font-family: inherit;
    background-color: #ffffff;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #aaaaaa;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .darkIcon {
    display: none;
  }

  .lightIcon {
    display: block;
  }
}

/* Tablet size +++ */
@media (min-width: 768px) {
  .error-box {
    left: auto;
    right: 1rem;
    transform: none;
    max-width: none;
  }
}
