.layoutDiv {
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  min-width: 250px;
  padding: 1vh;
  border: 1px solid #ddd;
  margin-bottom: 8px;
  background-color: #131313;
}

.leftCol {
  flex: 0 0 0;
  padding: 5px;
}

.linkContainer {
  display: flex;
  flex-flow: column;
  flex: 1;
  padding: 5px;
  cursor: pointer;
  transition: background 0.2s ease;
  overflow-x: hidden;
}

.linkContainer:hover {
  background-color: #555555;
}

.nameAndDate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message {
  width: 90%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

@media (prefers-color-scheme: light) {
  .layoutDiv {
    color: #000;
    background-color: #ffffff;
  }

  .linkContainer:hover {
    background-color: #a1a1a1;
  }
}
