.noChat {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.liveChat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*background-color: #242424;*/
  width: 100%;
  height: 100%;
}

.titleBar {
  position: sticky;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1a1a1a;
}

.leftSide {
  display: flex;
  flex-direction: row;
}

.chatTitle {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}

.rightSide {
  display: flex;
  flex-direction: row;
}

.rightSide button {
  padding: 5px;
}

.lightModeIcon,
.darkModeIcon {
  display: none;
}

.messagesContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow-y: auto;
}

.inputContainer {
  position: sticky;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 15px;
}

.messageInput {
  flex: 0.8;
  padding: 16px 20px;
  font-size: 16px;
  border: 2px solid #e0e0e0;
  outline: none;
  transition: border-color 0.3s ease;
}

.messageInput:focus {
  border-color: #007bff;
}

.sendButton {
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sendButton:hover {
  background-color: #0056b3;
}

@media (prefers-color-scheme: dark) {
  .darkModeIcon {
    display: block;
  }
}

@media (prefers-color-scheme: light) {
  .liveChat {
    background-color: #63636373;
  }

  .titleBar {
    background-color: #ffffff;
  }

  .lightModeIcon {
    display: block;
  }

  .rightSide button {
    background-color: #ffffff;
  }
}
